<form action="/user/profile/edit/<%=reqInfo.username%>" method="POST">
  <div>
    <label for="first-name">First Name:</label>
    <div>
      <input id="first-name" name="firstName" type="text"
      value="<%=userInfo.user.firstName%>"
    </div>
  </div>
  <div>
    <label for="last-name">Last Name:</label>
    <div>
      <input id="last-name" name="lastName" type="text"
      value="<%=userInfo.user.lastName%>"
    </div>
  </div>
  <div>
    <label for="email">Email:</label>
    <div>
      <input id="email" name="email" type="text"
      value="<%=userInfo.user.email%>"
    </div>
  </div>
  <div>
    <label for="old-password">Current Password:</label>
    <div><input id="old-password" name="oldPassword" type="password" value=""</div>
  </div>
  <div>
  <div>
    <label for="new-password">New Password:</label>
    <div><input id="new-password" name="newPassword" type="password" value=""</div>
  </div>
  <div>
    <label for="password-confirm">Confirm Password:</label>
    <div>
      <input id="password-confirm" name="passwordConfirm" type="password"
      value=""
    </div>
  </div>
  <div>
    <button
      id="submitButton"
      class="btn btn btn-primary"
      type="submit"
      value="Submit"
    >
      Submit
    </button>
  </div>
</form>
<p class="error-message inline-block">
  <%= errorMessage %>
</p>
