<a href="/users">Return to Users</a>
<h3>Edit User</h3>
<div class="display-flex">
<form action="/users/edit-info/<%=username%>" method="POST" class="inline-block align-top">
    <div>
      <label for="firstName">First Name:</label>
      <div>
        <input id="firstName" name="firstName" type="text"
        value="<%=user.firstName?user.firstName:''%>" required>
      </div>
    </div>
    <div>
      <label for="lastName">Last Name:</label>
      <div>
        <input id="lastName" name="lastName" type="text"
        value="<%=user.lastName?user.lastName:''%>" required>
      </div>
    </div>
    <div>
      <label id="email" for="email">Email:</label>
      <div>
        <input id="email" name="email" type="text" class="<%=username?'readonly-text':''%>"
        value="<%=user.email?user.email:''%>" readonly >
      </div>
    </div>
    <div>
      <label id="username" for="username">Username:</label>
      <div>
        <input id="username" name="username" type="text" class="readonly-text"
        value="<%=user.username?user.username:''%>" 
       readonly>
      </div>
    </div>
    <% if (reqInfo.roles.includes('Admin')) {%>
    <label for="roles">User Role:</label>
    <div>
      <input type="checkbox" id="roles" name="roles" value="Manager"
      <%=user.roles && user.roles.includes('Manager') && 'checked' %>>
      <label> Manager</label><br>
      <input type="checkbox" id="roles" name="roles" value="Admin"
      <%=user.roles && user.roles.includes('Admin') && 'checked' %>>
      <label> Admin</label><br>
    </div>
    <%}%>

  <div>
    <button
      id="submitInfoButton"
      class="btn btn btn-primary"
      type="submit"
      value="Submit"
    >
      Update Info
    </button>
  </div>
</form>
<form action="/users/edit-pwd/<%=username%>" method="POST" class="inline-block align-top">
  <div>
    <label for="oldPassword">Old Password:</label>
    <div>
      <input id="oldPassword" name="oldPassword" type="password" >
    </div>
  </div>
  <div>
  <div>
    <label for="newPassword">New Password:</label>
    <div>
      <input id="newPassword" name="newPassword" type="password" >
    </div>
  </div>
  <div>
    <label for="passwordConfirm"> Confirm Password:</label>
    <div>
      <input id="passwordConfirm" name="passwordConfirm" type="password" >
    </div>
  </div>
    <button
      id="submitPwdButton"
      class="btn btn btn-primary"
      type="submit"
      value="Submit"
    >
      Update Password
    </button>
</form>
</div>
<p class="error-message inline-block"><%= errorMessage %></p>
